@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
}
html {
    background: linear-gradient(180deg, rgba(255,228,50,0.7941176470588236) 0%,
     rgba(255,244,177,0.7941176470588236) 22%, rgba(199,187,118,1) 39%, rgba(154,138,60,1) 60%, rgba(126,109,32,1) 77%, rgba(113,91,0,1) 100%) ,
     rgb(37, 107, 37)   ;
}

header {
    text-align: end;
    margin-top: 20px;
    margin-right: 80px;
    /* margin-bottom: 200px; */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-block: 50%;
}
.topic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
h1 {
    font-size: 50px;
    padding: 0;
}
main > p {
    letter-spacing: 2px;
}
.load {
    width: 50%;
    height: 6px;
    background-color: aliceblue;
    box-shadow: 2px 2px 10px rgb(37, 37, 37);
}
.loadinside {
    width: 80%;
    height: 6px;
    background-color: lightskyblue;
}
.percent {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
button {
    background-color: lightskyblue;
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    color: darkslategrey;
}
.icons {
    display: flex;
    gap: 16px;
    vertical-align: middle;
}
.icons i{
    display: inline-block;
    font-size: 20px;
    width: 26px;
    height: 26px;
    border: 1.5px solid aliceblue;
    border-radius: 50%;
    text-align: center;
    padding-block:1%;
}
footer {
    width: 80%;
    margin: auto;
    text-align: center;
    border-top: 0.5px solid gainsboro;
    padding-top: 1px;
}